
@{
    ViewBag.TitleReport = "Report of dough production";
}

<div id="bootstrap-overrides">
    <div class="panel panel-default" data-spy="affix">
        <div class="panel-body">

            <h4>@ViewBag.TitleReport</h4>
            @Html.Partial("_Form")
            <br>
            <br>
        </div>
    </div>
    @if (ViewBag.Steps != null)
    {
        @Html.Partial("_Detail")
    }
    <hr>
    @Html.Partial("_Overview")
</div>