
@{
    ViewBag.TitleReport = "Report of dough production";
}

<div id="bootstrap-overrides">
    <h4>@ViewBag.TitleReport</h4>
    @Html.Partial("_Form")
    <br>
    <br>
    <hr>
    @Html.Partial("_Overview")
</div>