
@{
    ViewBag.Title = "News";
}

<h2>News</h2>
<div class="jumbotron">
        <h2>News</h2>
        <p>
            In latest update have been add following features:<br>
            Time of starts and ends are in the local time zone<br />
            New style od this cloud for Dubravica priojecz<br>
            Menu of this page hase been changed to more user-friendly platform.
        </p><a href="http://192.168.2.13/" class="btn-primary btn-lg">Back to hompepage</a>
</div>
